/* цвет основного текста #757575
/* вторичный цвет текста #212121
/* белый #FFFFFF
/* черный #000000
/* акцент #2196F3
/* цвет текста адресса футера rgba(f, f, f, 0.6)*/

:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --logo-black-color: #000000;
  --adress-white-color: rgba(f, f, f, 0.6);
  --background-dark-color: #2f303a;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);

  font-family: var(--main-font);
  font-weight: 400;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
}

.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.address {
  font-style: normal;
}
/* Logo */
.logo-black,
.logo-white,
.logo-web {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.logo-black {
  color: var(--logo-black-color);
}

.logo-white {
  color: var(--primary-white-color);
}
.logo-web {
  color: var(--accent-color);
}

/* Site nav */

.nav-list-link,
.contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-list-link {
  color: var(--title-text-color);
}
.active {
  color: var(--accent-color);
}
.contacts {
  color: var(--primary-text-color);
}

.nav-list-link:hover,
.nav-list-link:focus,
.contacts:hover,
.contacts:focus {
  color: var(--accent-color);
}

/* Hero */
.hero {
  background-color: var(--background-dark-color);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}
.btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}
.btn:hover,
.btn:focus {
  background-color: #188ce8;
}

/*Section title*/

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Advantages*/
.advantages-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}

/*Наследуется от body
.advantages-descript {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}*/

/*Team*/
.team-member-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}
.team-member-post {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.footer {
  background-color: var(--background-dark-color);
}
.address-street {
  color: var(--primary-white-color);
}
.address-contacts {
  color: var(--adress-white-color);
}

/*========= PORTFOLIO PAGE=========  */
.filter-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  color: var(--title-text-color);
}
.filter-btn:hover,
.filter-btn:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}
.example-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--title-text-color);
}
.example-descript {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
